# Relatório de Análises

### Importando a base de dados

In [3]:
import pandas as pd

In [4]:
dados = pd.read_csv(r'C:\Users\Jones\Desktop\Estudos Python\Alura\Python Pandas tratando e analisando dados\Alura_CienciaDados\Pandas\dados\aluguel.csv', sep=';')

### Informações Gerais sobre as bases de dados

In [10]:
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [13]:
tipo_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipos de Dados'])

In [14]:
tipo_de_dados.columns.name = 'Variáveis'

In [15]:
tipo_de_dados

Variáveis  Tipos de Dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [16]:
dados.shape

(32960, 9)

### Tipo de dados

In [5]:
tipo = dados.Tipo

In [6]:
#inplace = True -> ele vai alterar a própria variável para já armazenar a ação/resultado
tipo.drop_duplicates(inplace=True)

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

In [7]:
tipo.index

RangeIndex(start=0, stop=32960, step=1)

In [8]:
tipo.index = range(tipo.shape[0])

In [10]:
tipo

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

### Criação de Dataframes

In [12]:
data = [[1, 2, 3], 
        [4, 5, 6], 
        [7, 8, 9]]

In [13]:
df1 = pd.DataFrame(data = data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [14]:
index = ['Linha' + str(i) for i in range(3)]

In [15]:
df1 = pd.DataFrame(data = data, index = index)
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [16]:
columns = ['Coluna' + str(i) for i in range(3)]

In [18]:
df2 = pd.DataFrame(data = data, index = index, columns = columns)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

Criação com dicionário

In [19]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [20]:
df3 = pd.DataFrame(data = data, index = index, columns = columns)
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

Criação com Tuples

In [21]:
data = [(1, 2, 3), 
        (4, 5, 6), 
        (7, 8, 9)]

In [22]:
df4 = pd.DataFrame(data = data, index = index, columns = columns)
df4

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9