# Relatório de Análises

### Importando a base de dados

In [1]:
import pandas as pd

In [6]:
dados = pd.read_csv(r'C:\Users\Jones\Desktop\Estudos Python\Alura\Python Pandas tratando e analisando dados\Alura_CienciaDados\Pandas\dados\aluguel.csv', sep=';')

### Informações Gerais sobre as bases de dados

In [10]:
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [13]:
tipo_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipos de Dados'])

In [14]:
tipo_de_dados.columns.name = 'Variáveis'

In [15]:
tipo_de_dados

Variáveis  Tipos de Dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [16]:
dados.shape

(32960, 9)