# Relatório de Análises

### Importando a base de dados

In [3]:
import pandas as pd

In [4]:
dados = pd.read_csv(r'C:\Users\Jones\Desktop\Estudos Python\Alura\Python Pandas tratando e analisando dados\Alura_CienciaDados\Pandas\dados\aluguel.csv', sep=';')

### Informações Gerais sobre as bases de dados

In [10]:
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [13]:
tipo_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipos de Dados'])

In [14]:
tipo_de_dados.columns.name = 'Variáveis'

In [15]:
tipo_de_dados

Variáveis  Tipos de Dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [16]:
dados.shape

(32960, 9)

### Tipo de dados

In [5]:
tipo = dados.Tipo

In [6]:
#inplace = True -> ele vai alterar a própria variável para já armazenar a ação/resultado
tipo.drop_duplicates(inplace=True)

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object