In [1]:
import pandas as pd

In [2]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

In [3]:
eventos = {'m1':list(m1),
           'm2':list(m2),
           'm3':list(m3),
           'm4':list(m4),
           'm5':list(m5)}

In [4]:
moedas =pd.DataFrame(eventos)

In [6]:
moedas.head(5)

  m1 m2 m3 m4 m5
0  C  C  C  c  C
1  C  C  c  C  C
2  c  C  c  C  C
3  C  C  C  c  c
4  C  C  C  c  C

In [7]:
df = pd.DataFrame(data = ['Cara', 'Coroa'], 
                    index = ['c', 'C'], 
                    columns = ['Faces'])

In [8]:
df.head(5)

   Faces
c   Cara
C  Coroa

In [9]:
for item in moedas:
    df = pd.concat([df, moedas[item].value_counts()], axis=1)

In [10]:
df

   Faces  m1  m2  m3  m4  m5
c   Cara  25  26  19  23  25
C  Coroa  25  24  31  27  25