## Relatorio de Vendas 05

In [2]:
import pandas as pd

In [3]:
dados = pd.read_csv('dados\\aluguel_2.csv', sep=';')

In [4]:
dados.head(5)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN,70.00,Casa
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,34.67,Apartamento
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN,16.67,Apartamento

In [7]:
dados['Bairro'].unique()

array(['Copacabana', 'Jardim Botânico', 'Barra da Tijuca', 'Centro',
       'Higienópolis', 'Vista Alegre', 'Cachambi', 'Ramos', 'Grajaú',
       'Lins de Vasconcelos', 'Botafogo', 'Taquara',
       'Freguesia (Jacarepaguá)', 'Tijuca', 'Olaria', 'Leblon',
       'São Cristóvão', 'Ipanema', 'Campo Grande',
       'Recreio dos Bandeirantes', 'Jardim Oceânico', 'Humaitá',
       'Península', 'Méier', 'Vargem Pequena', 'Maracanã', 'Jacarepaguá',
       'Vargem Grande', 'São Conrado', 'Maria da Graça', 'Vila Valqueire',
       'Gávea', 'Cosme Velho', 'Bonsucesso', 'Todos os Santos',
       'Laranjeiras', 'Itanhangá', 'Flamengo', 'Praça Seca', 'Piedade',
       'Lagoa', 'Santo Cristo', 'Largo do Machado', 'Catete',
       'Jardim Carioca', 'Benfica', 'Glória', 'Vila Isabel',
       'Quintino Bocaiúva', 'São Francisco Xavier', 'Rocha Miranda',
       'Engenho Novo', 'Engenho de Dentro', 'Cidade Nova', 'Pilares',
       'Arpoador', 'Tomás Coelho', 'Água Santa', 'Ilha do Governador',
       'Jardim Sulacap', 'Del Castilho', 'Oswaldo Cruz', 'Vila da Penha',
       'Anil', 'Tanque', 'Vaz Lobo', 'Madureira', 'Pechincha', 'Leme',
       'Irajá', 'Andaraí', 'Cordovil', 'Urca', 'Penha', 'Vigário Geral',
       'Gardênia Azul', 'Santa Cruz', 'Rio Comprido', 'Santa Teresa',
       'Inhaúma', 'Marechal Hermes', 'Pavuna', 'Curicica', 'Santíssimo',
       'Moneró', 'Jardim Guanabara', 'Vila Militar', 'Camorim',
       'Cascadura', 'Manguinhos', 'Praia da Bandeira', 'Saúde', 'Joá',
       'Gamboa', 'Bangu', 'Colégio', 'Guadalupe', 'Realengo', 'Fátima',
       'Inhoaíba', 'Rocha', 'Jabour', 'Parada de Lucas', 'Braz de Pina',
       'Vila Kosmos', 'Vicente de Carvalho', 'Praça da Bandeira',
       'Encantado', 'Campinho', 'Penha Circular',
       'Ricardo de Albuquerque', 'Guaratiba', 'Lapa', 'Riachuelo',
       'Portuguesa', 'Catumbi', 'Castelo', 'Parque Anchieta', 'Abolição',
       'Caju', 'Alto da Boa Vista', 'Bento Ribeiro', 'Estácio',
       'Jardim América', 'Paciência', 'Pedra de Guaratiba',
       'Padre Miguel', 'Zumbi', 'Sampaio', 'Anchieta', 'Tauá', 'Icaraí',
       'Cinelândia', 'Senador Vasconcelos', 'Barra de Guaratiba',
       'Paquetá', 'Senador Camará', 'Turiaçu',
       'Freguesia (Ilha do Governador)', 'Honório Gurgel', 'Cosmos',
       'Pitangueiras', 'Vidigal', 'Usina', 'Cacuia', 'Ribeira', 'Jacaré',
       'Cocotá', 'Engenho da Rainha', 'Cachamorra', 'Itaguaí',
       'Cavalcanti', 'Cidade de Deus', 'Magalhães Bastos', 'Coelho Neto',
       'Vasco da Gama', 'Bancários', 'Rio da Prata', 'Cidade Jardim',
       'Parque Colúmbia', 'Grumari', 'Sepetiba'], dtype=object)

In [8]:
bairros = ['Copacabana', 'Centro', 'Higienópol','Cascadura', 'Manguinhos', 'Praia da Bandeira', 'Saúde', 'Joá']

In [9]:
selecao = dados['Bairro'].isin(bairros)
dados = dados[selecao]

In [10]:
dados['Bairro'].unique()

array(['Copacabana', 'Centro', 'Cascadura', 'Manguinhos',
       'Praia da Bandeira', 'Saúde', 'Joá'], dtype=object)

In [11]:
grupo_bairro = dados.groupby('Bairro')

In [12]:
type(grupo_bairro)

pandas.core.groupby.generic.DataFrameGroupBy

In [13]:
grupo_bairro.groups

{'Cascadura': [828, 1316, 2439, 2555, 2897, 5505, 6812, 8941, 9677, 10188, 11143, 13077, 13890, 14202, 14281, 15649, 16097, 16533, 17276, 17965, 18049, 18275, 18397, 18656, 19341, 22593, 23563, 24265, 24274, 24334, 24639, 25316, 25843, 26629, 26808, 27871, 29361, 29656, 29661, 30324, 30390, 30658, 32809, 32852], 'Centro': [3, 9, 10, 38, 45, 46, 52, 54, 72, 86, 87, 94, 100, 105, 108, 127, 128, 136, 144, 161, 174, 178, 186, 220, 239, 240, 241, 242, 252, 270, 278, 284, 286, 307, 319, 328, 333, 337, 338, 356, 373, 379, 380, 382, 393, 394, 404, 417, 437, 445, 454, 457, 462, 472, 478, 480, 500, 533, 562, 567, 579, 638, 657, 659, 683, 690, 693, 706, 712, 749, 752, 771, 790, 793, 803, 824, 852, 853, 859, 873, 879, 880, 903, 911, 922, 924, 930, 947, 950, 970, 972, 974, 976, 986, 990, 993, 995, 997, 1006, 1012, ...], 'Copacabana': [0, 13, 14, 15, 33, 34, 39, 43, 58, 123, 132, 152, 162, 189, 196, 209, 210, 213, 215, 219, 226, 243, 250, 262, 273, 285, 290, 303, 329, 371, 398, 418, 421, 426, 438, 439, 453, 464, 479, 484, 486, 496, 501, 525, 541, 553, 563, 564, 582, 596, 608, 636, 637, 644, 650, 653, 679, 682, 692, 724, 725, 726, 727, 742, 753, 791, 794, 799, 823, 837, 857, 858, 866, 875, 882, 885, 913, 917, 919, 925, 952, 954, 981, 1000, 1008, 1009, 1014, 1025, 1038, 1041, 1047, 1057, 1074, 1100, 1110, 1115, 1158, 1167, 1203, 1218, ...], 'Joá': [916, 3180, 3790, 7902, 9326, 9798, 10389, 11801, 13238, 17687, 18050, 18377, 18413, 18417, 19654, 20499, 22471, 24837, 25075, 25618, 25970, 27650, 27733, 29390, 31296], 'Manguinhos': [835, 5391, 6907, 7813, 8226, 9715, 18430, 27032], 'Praia da Bandeira': [842, 9945], 'Saúde': [868, 3077, 5521, 7803, 7877, 11881, 12201, 12841, 13364, 17071, 17166, 20090, 20220, 22026, 23893, 24425, 25199, 25433, 25927, 26696, 26702, 26850, 27488, 27653, 30283, 30613]}

In [16]:
for bairro, dados in grupo_bairro:
    print('{} -> {}'.format(bairro, dados.Valor.mean()))

Cascadura -> 1133.1818181818182
Centro -> 19004.972375690606
Copacabana -> 4509.83453689168
Joá -> 16351.6
Manguinhos -> 7312.5
Praia da Bandeira -> 1300.0
Saúde -> 36083.61538461538

In [19]:
grupo_bairro[['Valor', 'Condominio']].mean().round(2)

                      Valor  Condominio
Bairro
Cascadura           1133.18      307.91
Centro             19004.97     5247.40
Copacabana          4509.83     1211.94
Joá                16351.60     1770.67
Manguinhos          7312.50         NaN
Praia da Bandeira   1300.00      390.00
Saúde              36083.62     1373.47