### Testing with Pandas

In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame(data = ['Cara', 'Coroa'], 
                    index = ['c', 'C'], 
                    columns = ['Faces'])

In [12]:
week_days = ['Monday', 'Tuesday', 'Wensday','Thursday','Friday']
data = [[['Week Day'], ['Week Day'], ['Week Day'], ['Week Day'], ['Week Day']]]

In [8]:
df_weekDays = pd.DataFrame(columns=week_days)
df_weekDays

Empty DataFrame
Columns: [Monday, Tuesday, Wensday, Thursday, Friday]
Index: []

In [13]:
df_weekDays = pd.DataFrame(data,columns=week_days)
df_weekDays

     Monday   Tuesday   Wensday  Thursday    Friday
0  Week Day  Week Day  Week Day  Week Day  Week Day

In [14]:
#Wrong Usage
data = {'Week Days': ['Monday', 'Tuesday', 'Wensday','Thursday','Friday'],
        'Type': [['Week Day'], ['Week Day'], ['Week Day'], ['Week Day'], ['Week Day']]}

df_weekDays = pd.DataFrame(data)
df_weekDays

  Week Days      Type
0    Monday  Week Day
1   Tuesday  Week Day
2   Wensday  Week Day
3  Thursday  Week Day
4    Friday  Week Day

In [16]:
#Correct Usage with Dicts
data = {'Monday':['Week Day'],
        'Tuesday': ['Week Day'],
        'Wensday':['Week Day'],
        'Thursday': ['Week Day'],
        'Friday': ['Week Day']}

df_weekDays = pd.DataFrame(data)
df_weekDays

     Monday   Tuesday   Wensday  Thursday    Friday
0  Week Day  Week Day  Week Day  Week Day  Week Day

In [17]:
#Creating by a list of Dicts
data = [{'Monday': 'Week Day', 'Tuesday': 'Week Day', 'Wensday': 'Week Day',
'Thursday': 'Week Day','Friday':'Week Day'}]

df_weekDays = pd.DataFrame(data)
df_weekDays

     Monday   Tuesday   Wensday  Thursday    Friday
0  Week Day  Week Day  Week Day  Week Day  Week Day